.page {
  width: 100%;
  height: calc(11.7 * 400px / 8.3);
  background: #fff;
  border: 1px solid #f3f3f3;
  font-size: 20pt;
  position: relative;
  top: 0px;
  font-family: 'Homemade Apple', cursive;
  color: #000f55;
  line-height: 1.5em;
  overflow-y: auto;
  scrollbar-color: transparent;
  scrollbar-width: thin;
}

.page.lines .paper-content {
  background-image: linear-gradient(#999 0.05em, transparent 0.1em);
  background-color: unset !important;
  background-size: 100% 1.5em;
}

.top-margin {
  height: 50px;
  width: 100%;
  display: block;
  overflow-y: auto;
}

.margined .top-margin {
  border-bottom: 2px solid pink;
}

.top-left-margin,
.top-right-margin,
.bottom-left-margin,
.bottom-right-margin {
  display: block;
  padding: 5px;
  overflow-x: hidden;
  overflow-y: hidden;
  position: absolute;
}

.top-left-margin {
  width: 50px;
  height: 100%;
  top: 0;
  left: 0;
}

.margined .top-left-margin {
  border-right: 2px solid pink;
}

.top-right-margin {
  width: calc(100% - 50px);
  height: 100%;
  top: 0;
  right: 0;
}

.bottom-left-margin {
  width: 50px;
  height: calc(100% - 50px);
  left: 0;
  bottom: 0;
}

.margined .bottom-left-margin {
  border-right: 2px solid pink;
}

.bottom-right-margin {
  width: calc(100% - 50px);
  height: calc(100% - 50px);
  bottom: 0;
  right: 0;
}
